@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Головна сторінка</h1>
    <p style="font-size: 16pt;">Ласкаво просимо до панелі адміністрування мережі анонімної системи допомоги</p>

    <a href="\Employee\Index" style="font-size: 14pt;" class="btn btn-outline-primary">Перейти до адміністрування робітників</a>
    <a href="\LocalCommunity\Index" style="font-size: 14pt;" class="btn btn-outline-primary">Перейти до адміністрування територіальних громад</a>
</div>
