@model AdminLTE.Models.ViewModels.EmployeeLCVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
@if (Model.Employee.Id != 0)
{
    <h2>Редагування працівника</h2>
}
else
{
    <h2>Добавлення нового працівника</h2>
}
<form method="post" enctype="multipart/form-data">
    <input asp-for="Employee.Id" hidden />
    <div class="container">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="row my-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">П.І.Б.</span>
                </div>

                <input type="text" asp-for="Employee.LastName" placeholder="Прізвище" class="form-control" aria-describedby="inputGroupPrepend2" required />

                <input type="text" asp-for="Employee.FirstName" placeholder="Ім'я" class="form-control" />

                <input type="text" asp-for="Employee.MiddleName" placeholder="По-батькові" class="form-control" />
            </div>
            <div class="invalid-feedback d-block">
                <span class="text-danger" asp-validation-for="Employee.LastName"></span>
            </div>
            <div class="invalid-feedback d-block">
                <span class="text-danger" asp-validation-for="Employee.MiddleName"></span>
            </div>
            <div class="invalid-feedback d-block">
                <span class="text-danger" asp-validation-for="Employee.FirstName"></span>
            </div>
        </div>
        <div class="row">
            <input type="text" asp-for="Employee.Number" placeholder="Номер телефону" class="form-control cc" required />
            <div class="invalid-feedback d-block mb-3">
                <span class="text-danger" asp-validation-for="Employee.Number"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-group ">
                <select asp-for="Employee.LocalCommunityId" class="custom-select" id="inputGroupSelect02" asp-items="@Model.LocalCommunities">
                    <option selected disabled>Оберіть ОТГ</option>
                </select>
            </div>
            <div class="invalid-feedback d-block mb-3">
                <span asp-validation-for="Employee.LocalCommunityId" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="file" name="files" id="upload" multiple class="form-control" />
            </div>
        </div>
        <div class="row justify-content-end">
            @if (Model.Employee.Id != 0)
            {
                <button type="button" class="btn btn-secondary mr-3 p-3" asp-controller="Employee" asp-action="Cancel" disabled>Очистити</button>
                <input type="submit" class="btn btn-success p-3" value="Зберегти" />
            }
            else
            {
                <button type="button" class="btn btn-secondary mr-3 p-3" asp-controller="Employee" asp-action="Cancel">Очистити</button>
                <input type="submit" class="btn btn-success p-3" value="Створити" />
            }
        </div>
    </div>
</form>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}