
<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
        kovalkola2@gmail.com
    </div>
    <strong>Ardilla Development &copy; 2021.</strong> Всі права захищені. 
</footer>