@model AdminLTE.Models.ViewModels.LocalCommunityVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="row">
    @*<div class="row">
            <div class="col-6"></div>
            <div class="col-3">
                <a class="btn btn-success" asp-action="Add" >Добавити територіальну громаду</a>
            </div>
            <div class="col-3"></div>
        </div>*@
    <div class="col-8">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Title</th>
                    <th scope="col">Count of workers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var el in Model.LocalCommunities)
                {
                    <tr>
                        <th scope="row">@el.Id</th>
                        <td>@el.Title</td>
                        <td>@el.Employees.Count()</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-1"></div>
    <div class="col-3 sticky-top border border-dark rounded bg-white p-2">
        <form action="/LocalCommunity/Add" method="post">
            <h4>Добавлення нової територіальної громади</h4>
            <div class="col-10">
                <div class="row my-3">
                    <input asp-for="LocalCommunity.Title" class="form-control" placeholder="Назва ОТГ" name="title" />
                    <span class="text-danger" asp-validation-for="LocalCommunity.Title"></span>
                </div>

                <div class="row">
                    <input type="submit" value="Добавити" class="btn btn-success" />
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    $('#demo').pagination({
        dataSource: [1, 2, 3, 4, 5, 6, 7, ... , 35],
        pageSize: 5,
        autoHidePrevious: true,
        autoHideNext: true,
        callback: function (data, pagination) {
            // template method of yourself
            var html = template(data);
            dataContainer.html(html);
        }
    })
</script>